# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/

# Environments
.env
.env.local
*.env

# Conda
envs/

# VS Code
.vscode/

# Node
node_modules/
.next/
npm-debug.log*

# ML models
*.pkl
*.pt
*.h5

# OS
.DS_Store
Thumbs.db
